/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  font-family: "Helvetica Neue",Arial,sans-serif;
  padding-top: 2em;
  color: #224;
}

a {
  color: #33A;
}

h2, ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* END RESET */

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0.66em 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

body {
  line-height: 1.2;
}

.about ul {
  list-style-type: disc;
  margin-left: 40px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.left {
  width: 400px;
  float: left;
}

.left h2:first-child {
  margin-top: 0;
}

.right {
  float: right;
}

.headshot {
  width: 544px;
  height: 428px;
  background-image: url(/headshot.jpg);
  border-radius: 10px ;
  -webkit-box-shadow: inset 0 0 20px rgba(255,255,255,0.5);
}

nav .headshot {
  width: 100px;
  height: 78px;
  background-size: 100px 78px;
}

nav ul:before {
  width: 80%;
  height: 2px;
  background-color: #778;
  display: block;
  content: "";
  margin: 0.5em 0;
}

a {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.post h1:first-child {
  margin-top: 0;
}

.home .post:after {
  width: 80%;
  height: 6px;
  background-color: #778;
  display: block;
  content: "";
  margin: 3em auto;
}

.captioned_image {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
}

.captioned_image img {
  display: block;
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.comments {
  padding-top: 6em;
  padding-bottom: 6em;
}

.page_frame {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  background: #bbc;
  position: relative;
  height: 30px;
  clear: both;
  margin-bottom: 1em;
  color: white;
}


header h1 {
  position: relative;
  top: -4px;
  font-size: 36px;
}

header a {
  color: white;
}

.post strong {
  font-weight: bold;
}

.post p {
  margin-bottom: 1em;
  line-height: 1.3;
}

.post h2 {
  margin-top: 1em;
}

.post .captioned_image {
  color: #668;
}

.post ul {
  list-style-type: disc;
  margin-bottom: 2em;
}

.post ul li {
  margin-bottom: 0.5em;
}

.highlight {
  background-color: #eee;
  padding: 5px;
  margin: 0.5em;
}

em {
  font-style: italic;
}

.post .date {
  color: #99B;
}

.post .author {
  color: #99B;
  font-size: 80%;
}