---
layout: default
---
<div class="page_frame clearfix container">
    <div class="row">
        <div class="twelvecol last">
            <header class="clearfix">
                <h1>Timothy Fitz</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <nav class="twocol">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/archive.html">Archive</a></li>
            </ul>
        </nav>

        <div class="gutter onecol"></div>

        <div class="content eightcol">
            {{ content }}
        </div>

        <div class="gutter onecol last"></div>
    </div>
</div>