---
layout: default
---
<div class="page_frame clearfix container">
    <div class="row">
        <div class="twelvecol last">
            <header class="clearfix">
                <a href="/">
                    <h1>Timothy Fitz</h1>
                </a>
            </header>
        </div>
    </div>
    <div class="row">
        <nav class="twocol">
            <div class="headshot"></div>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about/">about</a></li>
                <li><a href="/archive/">archive</a></li>
            </ul>
            {% include elsewhere.html %}
        </nav>

        <div class="gutter onecol"></div>

        <div class="content eightcol">
            {{ content }}
        </div>

        <div class="gutter onecol last"></div>
    </div>
</div>